.searchContainer {
  display: flex;
  flex-direction: column;

  max-height: 40rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.searchContainer .rideList {
  min-height: 10rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
